/* 
 * Mensajes flash
 */ 

.mensaje-flash {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 2000;
    display: block;
}

/* 
 * Tablas
 */ 

/* Separamos los enlaces de las tablas */

table a.pull-right:not(.btn),
.table a.pull-right:not(.btn) {
    margin-left: 10px;
}

table .pull-right.btn-link,
.table .pull-right.btn-link {
    padding: 0;
    margin: 0 0 0 10px;
    border: 0px;
}